@model IEnumerable<BilisimKreatif.Model.Proposal>
@{
    ViewData["Title"] = "Teklifler";
}

<h2>Teklifler</h2>
<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Yeni Teklif</a>
</p>
<table class="table table-hover table-striped" id="tblRecords">
    <thead>
        <tr>
            <th>Firma</th>
            <th>Telefon</th>
            <th>E-posta</th>
            <th>Teklif İçerigi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CompanyName</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>@item.ProposalContext</td>
                <td><a asp-action="Edit" class="btn btn-sm btn-success" asp-route-id="@item.Id">Düzenle</a> <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</a></td>
            </tr>
        }
    </tbody>
</table>

